<li>
  <%= gravatar_for(user) %>
  <%= link_to(user.name, user) %>
  <% if can_destroy_user? user %>
    | <%= link_to "delete", user, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
  <% end %>
</li>